@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-image: url('../assets/fondo_pagina.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    display: flex;
    width: 100%;
}

.logo_alura {
    width: 8rem;
}

.header_titulo {
    font-family: "Inter", system-ui;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    color: #3dfaff;
}

.icono_encriptador {
    width: 2.5rem;
    margin-left: 8px;
    margin-bottom: 8px;
}

.presentacion {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: calc(100vh - 60px);
}

.presentacion_encriptar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 6.5;
    position: relative;
    justify-content: flex-start;
}

.seccion_encriptar {
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_encriptar {
    width: 80%; 
    height: calc(80% - 120px);
    padding: 15px;
    border-radius: 10px;
    border: none;
    resize: none;
    font-family: "Inter", system-ui;
    font-size: 2rem;
    font-weight: 400;
    color: #22577A;
    background-color: #caf0f8;
}

.texto_encriptar::placeholder {
    font-family: "Inter", system-ui;
    font-size: 2rem;
    font-weight: 400;
    color: #22577A;
}

.texto_encriptar:focus {
    border: none;
    outline: none;
}

.icono_alerta {
    width: 1.5rem;
}

.alerta {
    width: 80%; 
    text-align: left; 
    margin-top: 10px;
    color: #3dfaff;
    opacity: 0.8;
    font-family: "Inter", system-ui;
    font-size: 0.75rem;
}

.botones {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 24px;
    margin-top: 20px;
}

.btn_encriptar {
    padding: 18px 100px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-family: "Inter", system-ui;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s;
    flex: none;
    background-color: #168aad;
}

.btn_encriptar:hover {
    background-color: #106781;
}

.btn_desencriptar {
    padding: 18px 100px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-family: "Inter", system-ui;
    font-size: 1rem;
    color: #2D3E50;
    transition: background-color 0.3s;
    flex: none;
    background-color: #E5E7EB;
}

.btn_desencriptar:hover {
    background-color: #CBD5E0;
}

.presentacion_resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 3.5;
    text-align: center;
}

.resultado {
    display: none;
    font-family: "Inter", system-ui;
    font-size: 1.5rem;
    font-weight: 400;
    color: #22577A;
    padding: 15px;
    border-radius: 10px;
    background-color: #caf0f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    max-width: 100%;
    min-height: 600px;
    overflow-y: auto;
}

.muñeco {
    width: 80%;
    background-color: #caf0f8;
    border-radius: 24px;
    max-width: 300px;
    margin-bottom: 20px;
}

.titulo_resultado {
    font-family: "Inter", system-ui;
    font-weight: bold;
    color: #3dfaff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.parrafo_resultado {
    font-family: "Inter", system-ui;
    color: #3dfaff;
    font-size: 1rem;
}

.btn_copiar {
    margin-top: 10%;
    padding: 18px 100px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-family: "Inter", system-ui;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s;
    flex: none;
    background-color: #168aad;
}

.btn_copiar:hover {
    background-color: #106781;
}

.footer {
    background-color: #168aad;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-family: "Inter", system-ui;
    font-size: 1rem;
    position: relative;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
    .presentacion {
        flex-direction: column;
    }
    
    .presentacion_encriptar {
        width: 100%;
        padding: 20px;
        flex: none;
    }

    .presentacion_resultado {
        width: 100%;
        padding: 20px;
        flex: none;
    }

    .titulo {
        padding: 0;
        margin-bottom: 5%;
    }

    .logo_alura {
        width: 6rem;
    }

    .header_titulo {
        font-size: 2rem;
        text-align: left;
    }

    .icono_encriptador {
        width: 2rem;
    }

    .texto_encriptar {
        width: 100%;
        height: 50vh;
    }

    .alerta {
        width: 100%;
        font-size: 0.75rem;
    }

    .muñeco {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .logo_alura {
        width: 4rem;
    }

    .header_titulo {
        font-size: 1.5rem;
    }

    .icono_encriptador {
        width: 2rem;
    }

    .alerta {
        font-size: 0.75rem;
    }

    .botones {
        flex-direction: column;
        width: 100%;
    }
}

